html,body,p,h1{
    margin:0;
    padding:0;
}

h1{
	font-size: 2.5em;
}
p{
	font-size: 1.5em;
}

.content{
    width:100%;
    height:100%;
    background:#A36;
}

.text{
	background: #EFEFEF;
	padding: 20px;
	text-align: center
}
.field{
	background: white;
}
.object{
	border-radius: 50%;	
	position: relative;
	top:100px;
}